body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.carousel-caption {
  transform: translateY(-50%);
  bottom: initial;
  top: 50%;
}
.course-section {
  margin-top: 100px;
}
.Explore-section {
  margin-top: 100px;
}
.Ready-section {
  margin-top: 100px;
}
.freq {
  margin-top: 100px !important;
}
.Trusted-section {
  margin-top: 100px;
}
.most-success {
  margin-top: 100px;
}
.footer-clss {
  margin-top: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: black;
}
.footer-clss a {
  text-decoration: none;
  color: white;
}
.custom-filter {
  filter: brightness(50%);
}

@media only screen and (max-width: 766px) {
  .carousel-mobile h1 {
    font-size: 25px;
    margin: 5px;
    padding: 0;
  }
  .carousel-mobile p {
    font-size: 10px;
    margin: 5px;
    padding: 0;
  }
  .carousel-caption {
    transform: translateY(-50%);
    bottom: initial;
    top: 50%;
  }
  .Explore-w {
    width: 100% !important;
  }

  .freq {
    width: 100% !important;
    margin: auto;
  }
  .text-clss {
    text-align: center;
  }
}
@media only screen and (min-width: 767px) and (max-width: 991px) {
  .Explore-img {
    margin: 0 !important;
    padding: 0 !important;
    width: 350px !important;
    height: 700px !important;
  }
  .freq {
    width: 100% !important;
    margin: auto;
  }
}
